@charset "UTF-8";

.txt-center{
  text-align: center;
}
.mt10{
  margin-top: 10px;
}
.txt-red{
  color:red !important;
}

.contain{
  width:940px;
  margin:0 auto;
  background-color: #fff;
  padding:10px 20px;
  &-tl{
    height:44px;
    line-height: 44px;
    font-size:26px;
  }
  &-intro{
    color:#999;
    padding-bottom:10px;
    border-bottom:1px dashed #ccc;
    &-base{
      line-height: 24px;
      padding:5px 0;
    }
    .base-item{
      width:50px;
      display: inline-block;
      *display:inline;
    }
  }
  &-article{
    padding-bottom: 30px;
    .solve-ways{
      font-size:18px;
      color:#333;
      line-height:24px;
      padding:5px 0;
    }
    &-inner{
      padding:10px 20px;
    }
    .intro-tl{
      color:#666;
      line-height:20px;
    }
    .prettyprint{
      font-size:14px;
      line-height: 22px;
      padding: 10px 30px;
      margin:5px 0;
      background-color: #efefef;
    }
  }
}