@charset "UTF-8";

.klbox{
	margin:0.75rem 0.25rem 0;
	font-size:0.7rem;
}
.klbox-info >li{
	position: relative;
	margin-top:0.25rem;
}
.klbox-info-tl{
	position: absolute;
	height:1.5rem;
	width:3rem;
	left:0;
	top:0;
	line-height: 1.5rem;
}
.klbox-info-detail{
	margin-left:3rem;
}
.klbox-info-detail .base-info{
	height:1.5rem;
	width:100%;
	padding-left:0.25rem;
	box-sizing:border-box;
}


// 可以定义初始化比例

// 如640PSD给的 宽度是600
.klcontain{
	&-img{
		width:(600rem/40);
		margin:(20rem/40) auto;
		>img{
			width:100%;
		}
	}
}
.klcontain2{
	overflow: hidden;
	&-img{
		/*可以不用百分比*/
		width:(640rem/40/2.001);
		float: left;
		>img{
			width:100%;
		}
	}
}